.task-completed {
    background-color: #d4edda;
    color: #155724; 
  }
  
  .task-incomplete {
    background-color: #fff3cd;
    color: #856404; 
  }
  
  .task-item {
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .tooltip {
  position: absolute;
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  display: none;
  white-space: nowrap;
}

.task-item:hover .tooltip {
  display: block;
}


